In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('data/users_corrected.csv')

In [3]:
df.head

<bound method NDFrame.head of     user_id username                   join_date  reputation
0         1    Aarav  2022-05-18 07:38:17.917924         371
1         2     Diya  2022-10-17 07:38:17.917954         342
2         3   Aditya  2023-08-02 07:38:17.917961          80
3         4     Pari  2022-09-28 07:38:17.917966         231
4         5    Aarav  2023-09-14 07:38:17.917970          19
..      ...      ...                         ...         ...
95       96     Sara  2024-03-12 07:38:17.918394         229
96       97  Krishna  2023-05-04 07:38:17.918399          12
97       98      Ira  2024-01-10 07:38:17.918403         261
98       99  Shanaya  2022-06-24 07:38:17.918407           2
99      100  Shanaya  2022-06-27 07:38:17.918412         451

[100 rows x 4 columns]>

In [4]:
df_1=pd.read_csv('data/items.csv')

In [5]:
df_2=pd.read_csv('data/interactions.csv')

In [6]:
df_1.head

<bound method NDFrame.head of     item_id item_name                           category  \
0       101   item101                      TIE-up sarees
1       102   item102                         Nike shoes
2       103   item103                          Black tie
3       104   item104                          Black tie
4       105   item105                Cocktail dress code
5       106   item106                               Suit
6       107   item107                         Nike shoes
7       108   item108                      TIE-up sarees
8       109   item109                          Chudidhar
9       110   item110                Cocktail dress code
10      111   item111                    Business casual
11      112   item112                          Chudidhar
12      113   item113                      TIE-up sarees
13      114   item114                      TIE-up sarees
14      115   item115                               Suit
15      116   item116                             Casual
16      117   item117                Indian traditionals
17      118   item118                             Casual
18      119   item119                               Suit
19      120   item120                    Business casual
20      121   item121                               Suit
21      122   item122                    Business casual
22      123   item123                Cocktail dress code
23      124   item124                              Skirt
24      125   item125                          Black tie
25      126   item126                    Business casual
26      127   item127                         Nike shoes
27      128   item128                             Casual
28      129   item129  Gender-neutral professional dress
29      130   item130                               Suit
30      131   item131                      TIE-up sarees
31      132   item132                    Business casual
32      133   item133                         Nike shoes
33      134   item134                             Casual
34      135   item135                Cocktail dress code
35      136   item136                    Business casual
36      137   item137                Cocktail dress code
37      138   item138                               Suit
38      139   item139                             Casual
39      140   item140                Indian traditionals
40      141   item141                Indian traditionals
41      142   item142                          Black tie
42      143   item143                         Nike shoes
43      144   item144                             Casual
44      145   item145                    Business casual
45      146   item146                          Black tie
46      147   item147                         Nike shoes
47      148   item148                          Chudidhar
48      149   item149                      TIE-up sarees
49      150   item150                         Nike shoes

                                          description
0   Elegant TIE-up sarees perfect for formal and c...
1   High-performance Nike shoes for sports and cas...
2   Elegant formal wear suitable for black tie eve...
3   Elegant formal wear suitable for black tie eve...
4   Chic and fashionable dress suitable for cockta...
5   Classic and tailored suit ideal for business a...
6   High-performance Nike shoes for sports and cas...
7   Elegant TIE-up sarees perfect for formal and c...
8   Traditional Chudidhar outfit for a stylish eth...
9   Chic and fashionable dress suitable for cockta...
10  Smart and professional attire for a relaxed of...
11  Traditional Chudidhar outfit for a stylish eth...
12  Elegant TIE-up sarees perfect for formal and c...
13  Elegant TIE-up sarees perfect for formal and c...
14  Classic and tailored suit ideal for business a...
15  Comfortable and everyday wear for casual outings.
16  Traditional Indian attire for cultural and fes...
17  Comfortable and everyday wear for casual outings.
18  Classic and tailored suit ideal for business a...
19  Smart and professional attire for a relaxed of...
20  Classic and tailored suit ideal for business a...
21  Smart and professional attire for a relaxed of...
22  Chic and fashionable dress suitable for cockta...
23  Stylish skirt perfect for both casual and form...
24  Elegant formal wear suitable for black tie eve...
25  Smart and professional attire for a relaxed of...
26  High-performance Nike shoes for sports and cas...
27  Comfortable and everyday wear for casual outings.
28  Professional attire suitable for all genders i...
29  Classic and tailored suit ideal for business a...
30  Elegant TIE-up sarees perfect for formal and c...
31  Smart and professional attire for a relaxed of...
32  High-performance Nike shoes for sports and cas...
33  Comfortable and everyday wear for casual outings.
34  Chic and fashionable dress suitable for cockta...
35  Smart and professional attire for a relaxed of...
36  Chic and fashionable dress suitable for cockta...
37  Classic and tailored suit ideal for business a...
38  Comfortable and everyday wear for casual outings.
39  Traditional Indian attire for cultural and fes...
40  Traditional Indian attire for cultural and fes...
41  Elegant formal wear suitable for black tie eve...
42  High-performance Nike shoes for sports and cas...
43  Comfortable and everyday wear for casual outings.
44  Smart and professional attire for a relaxed of...
45  Elegant formal wear suitable for black tie eve...
46  High-performance Nike shoes for sports and cas...
47  Traditional Chudidhar outfit for a stylish eth...
48  Elegant TIE-up sarees perfect for formal and c...
49  High-performance Nike shoes for sports and cas...  >

In [7]:
df_2.head

<bound method NDFrame.head of       user_id  item_id interaction_type                   timestamp
0         428      181             like  2022-03-05 11:33:33.879798
1         174      114             view  2022-07-11 11:33:33.879828
2          80      101          comment  2023-01-03 11:33:33.879834
3         114      103             view  2023-04-22 11:33:33.879839
4         358      126             like  2021-10-20 11:33:33.879843
...       ...      ...              ...                         ...
4995      484      191          comment  2023-04-07 11:33:33.898077
4996      452      183             view  2024-06-18 11:33:33.898078
4997      437      124          comment  2023-08-30 11:33:33.898080
4998       67      190             like  2024-05-15 11:33:33.898082
4999      308      187             like  2022-11-23 11:33:33.898084

[5000 rows x 4 columns]>

In [8]:
df.shape

(100, 4)

In [9]:
df_1.shape

(50, 4)

In [10]:
df_2.shape

(5000, 4)

In [11]:
final=df.merge(df_2,on="user_id")
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           1003 non-null   int64
 1   username          1003 non-null   object
 2   join_date         1003 non-null   object
 3   reputation        1003 non-null   int64
 4   item_id           1003 non-null   int64
 5   interaction_type  1003 non-null   object
 6   timestamp         1003 non-null   object
dtypes: int64(3), object(4)
memory usage: 55.0+ KB

In [12]:
final.shape

(1003, 7)

In [13]:
recomm=final.merge(df_1,on="item_id")
recomm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           489 non-null    int64
 1   username          489 non-null    object
 2   join_date         489 non-null    object
 3   reputation        489 non-null    int64
 4   item_id           489 non-null    int64
 5   interaction_type  489 non-null    object
 6   timestamp         489 non-null    object
 7   item_name         489 non-null    object
 8   category          489 non-null    object
 9   description       489 non-null    object
dtypes: int64(3), object(7)
memory usage: 38.3+ KB

In [14]:
#finding missing data, to drop them 'dropna' is used
recomm.isnull().sum()

user_id             0
username            0
join_date           0
reputation          0
item_id             0
interaction_type    0
timestamp           0
item_name           0
category            0
description         0
dtype: int64

In [15]:
recomm.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
484    False
485    False
486    False
487    False
488    False
Length: 489, dtype: bool

In [16]:
# Calculate implicit ratings
user_item_interactions = df_2.groupby(['user_id', 'item_id']).size().reset_index(name='total_interactions')
max_interactions_per_user = user_item_interactions.groupby('user_id')['total_interactions'].max().reset_index(name='max_interactions')
ratings = pd.merge(user_item_interactions, max_interactions_per_user, on='user_id')
ratings['implicit_rating'] = ratings['total_interactions'] / ratings['max_interactions']

# Pivot the ratings to create a user-item matrix
user_item_matrix = ratings.pivot(index='user_id', columns='item_id', values='implicit_rating').fillna(0)

In [17]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

# Convert the user-item matrix to a sparse matrix format
user_item_sparse_matrix = csr_matrix(user_item_matrix.values)

# Calculate the cosine similarity between users
user_similarity = cosine_similarity(user_item_sparse_matrix)

# Create a DataFrame for the user similarity
user_similarity_df = pd.DataFrame(user_similarity, index=user_item_matrix.index, columns=user_item_matrix.index)

In [37]:
def get_user_recommendations(user_id, user_similarity_df, user_item_matrix, items_df, num_recommendations=5):
    # Get the user's similarity scores
    similar_users = user_similarity_df[user_id].sort_values(ascending=False)

    # Get items interacted with by the similar users
    similar_users_interactions = user_item_matrix.loc[similar_users.index]
    
    # Calculate the weighted sum of ratings for each item
    item_recommendations = similar_users_interactions.T.dot(similar_users).div(similar_users.sum(), axis=0)
    
    # Exclude items the user has already interacted with
    user_interactions = user_item_matrix.loc[user_id]
    item_recommendations = item_recommendations[user_interactions == 0]
    
    # Get the top recommendations
    top_recommendations = item_recommendations.sort_values(ascending=False).head(num_recommendations)
    
    # Join with the items dataframe to get item names and categories
    recommended_items = top_recommendations.reset_index().merge(items_df, on='item_id', how='left')
    
    return recommended_items[['item_id', 'item_name', 'category']]

# Example: Get recommendations for AARAV
user_id = 1
recommendations = get_user_recommendations(user_id, user_similarity_df, user_item_matrix, df_1)
print(recommendations)

   item_id item_name             category
0      114   item114        TIE-up sarees
1      104   item104            Black tie
2      105   item105  Cocktail dress code
3      113   item113        TIE-up sarees
4      191       NaN                  NaN